*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oxygen', Helvetica, sans-serif;
    
}
.home{
    height: 700;
     background-image: url(main_bg_light.jpg);
    background-size: 100% 100%;
    
    
    
}


 
.nav ul{
    background-color: rgba(0,0,0,.5);
     padding-left: 0;
    list-style-type: none;
    overflow: hidden;
    
   
    
}
.nav ul li{
    display: inline-block;
    float: right;
    padding: 10px;
    padding-top: 10px;
    padding-right: 50px
   
    
}
.nav ul li a {
    font-size: 18;
    text-decoration: none; 
    color: #fff;
}
.class1 h1 {
    text-align: center;
    color: black;
    padding-top: 300;
    font-size: 60;
    
}
.class1 h2 {
    text-align: center;
    color: black;
    padding-top: 20px;
    font-size: 40;
}
.clear{
    clear: both;
}
    /*end home*/
    /*start about me*/
.class2{
    width: 100%;
    padding-top: 50px;
    background-color: #fff; 
    position: relative;
    padding-bottom: 200px
    
    
    
}
.class2 h2{
    text-align: center;
    color:black;
    font-size: 30px;
}
.class2 h2:before{
    content: "";
    background-color: black;
    width: 40%;
    height: 1px;
    position: absolute;
    top: 12% ;
    right:0;
}
.class2 h2:after{
    content: "";
    background-color: black;
    width: 40%;
    height: 1px;
    position: absolute;
    top: 12%;
    left:0;
}
.class2 h3{
    text-align: center;
    color:black;
    padding-top: 10px
}
.classimg img {
    width: 300px
}
.class2 .caption{
    padding-top: 50px;
    color: gray;
    padding-left: 10px;
    padding: 20px;
    
}
.class2 .caption p{
    padding: 16px;
    font-size: 20px;
    text-align: left;
    padding-top: 30px
}
.ss{
    
    color: #202020;
    display: inline-block;
    width: 110px;
    padding-left: 20px;
    padding: 25px
    
}
span{
    color: black
}
.class2 .caption button{
    background-color: black;
    border: 1px solid #fff;
    padding: 20 40px;
    font-size: 12px;
    border: none;
    color: white
}
.sss{
    width: 10%
}
.caption .sss:hover button{
    background-color: red;
    
}
.class2 .cimg img{
    width: 650px;
    float: right;
    padding-top: 20px;
}
/*start skill*/

.skills{
    width: 100% 100%;
    height: 100%;
    background-image:url(banner-12.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 50px
}
.skills h2 {
    text-align: center;
    font-size: 50;
}
.skills h2 span {
  color: gray;
  border: solid 5px ;
}
.skills h3{
    text-align: left;
    padding-left: 200px;
    padding-top: 100px;
    font-size: 40px;
}
.skills .ul{
    padding: 25px;
    padding-left:250px;
    font-size: 30px;
    display: inline-block;
    padding-top: 100px;
}
/*End skill*/
/*start projects*/
.Projects{
   
    background-color: black;
    
    
}
.Projects h2{
    text-align: center;
    background-color:black;
    color: aqua;
    padding-top: 20;
    padding-bottom: 20
    
}
.item{
    width: 100% 100%;
    padding-left: 0%;
}
.item img{
    width: 33%;
    float: right;
    padding-left: 0px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 2s;
    padding-top:5px;

    
}

.item:hover img {
    transform: scale(1.2,1.2);
}
.clear2 {
    clear: both;
}
.contact{
    width: 100% 100%;
    height: 500px;
    background-color: black;
    overflow: hidden
}


/*end projects*/
/*start form*/
.form{
    width: 100% 100%;
    height: 60%;
    background-color: #999;
    text-align: center;
}
.form h2{
    text-align: center;
    color: white;
}
.form .form1{
    padding: 20px;
    text-align: center;
}

.form .form2 button{
    background-color: white;;
    border: 1px solid #fff;
    padding: 20px 40px;
    margin-top: 10px
    font-size: 12px;
    border: none;
    color: black;
    
}

.form2:hover button{
    background-color: black;
    color: white;
    width: 20%
}


footer{
    width: 100%;
    height: 30px;
    background-color: black;
    color: skyblue;
    text-align: center;
    
}


