body {
    font-family: "segoe ui light"
}

.event {
    width: 100%;
    height: 100%;
    background-image: url(../imges/events-heavenly-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.event .eventOurlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
}

.side {
    background-color: #414658;
    width: 250px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 3215435468;

}

.item a {
    color: white;
    font-size: 25px;

}

.side .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 25px;
    cursor: pointer;
    padding-top: 20px;
}

.main {

    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    margin: auto;
}

.main h2 {
    font-size: 70px;
    margin-top: 100px
}

.main .open i {
    width: 100%;

    position: absolute;
    top: 50%;
    right: 350px;
    font-size: 30px;
    cursor: pointer;
    z-index: 123544684;
    overflow: hidden;
}

#acc {
    width: 50%;
    margin: 100px auto;
    background-color: #000;
}

#acc h3 {
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51, 0.6);
    cursor: pointer;
    color: white
}

#acc div {
    display: none;
    padding: 10px;
    background-color: #ccc;
}

#countsec {
    background-image: url(../imges/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 330px;
}

#countsec .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
    color: white;
}

#countsec .container {
    padding: 100px 0px;
}

#days {
    border: solid 1px #fff;
    box-sizing: border-box;
    padding: 55px;
    margin: auto 20px;

}

.tim {
    border: solid 1px #fff;
    box-sizing: border-box;
    padding: 60px;
    margin: auto 20px;
}

.tim h3 {
    font-size: 24px;
}

#hire-me {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.mine {
    margin-top: 60px;
}

#text {
    height: 200px;
}

.red {
    color: red
}

.icon-social li {
    display: inline-block
}

.icon-social li a {

    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #999999;
    color: #777777;
}

#char {
    font-size: 30;
    color: red
}